[[source]]
url = "https://pypi.org/"
verify_ssl = true

[dev-packages]
django-extensions = "*"
Sphinx = "*"
django-debug-toolbar = "*"
Werkzeug = "*"

[packages]
Unipath = "*"
djangorestframework = ">=3.5"
dj-database-url = "*"
django = ">=1.10"
